html{
  height: 100%;
}

body{
  height: 100%;
  background-image: linear-gradient(to bottom right, rgb(255, 66, 98), rgb(240, 240, 163));
  font-family: 'Gloria Hallelujah', cursive;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#root{
  height: 100%;
}

.app h1{
  color: white;
}

.app input{
  margin-top: 15px;
  width: 30%;
  border-radius: 25px;
  height: 45px;
  color: rgb(255, 66, 98);
  font-size: 25px;
  border: none;
}

.app input:focus{
  outline-width: 0;
}

.app button{
  background-color: rgb(255, 66, 98);
  border-radius: 25px;
  margin-top: 15px;
  color:white;
  height: 45px;
  width: 10%;
  border: none;
}

.app button:focus{
  outline-width: 0;
}


.app button:hover{
  background-color: rgb(250, 110, 133);
}